$flex : flex;
$padding: 0 20%;
$iColor : #00B0FF;

@mixin flexColumn {
     display: flex;
     flex-direction: column;
}

@mixin liRules {
     display: inline-block;
     padding: 0 10px;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style-type: none;
}

a {
     text-decoration: none;
}

body {
     height: 100vh;

     nav {
          background-color: black;
          padding: $padding;

          div {
               display: $flex;
               justify-content: flex-end;
               height: 50px;

               ul {
                    li{
                         @include liRules();
                         i.fas {
                              color: $iColor;
                         }

                         span {
                              color: grey;
                         }

                         select {
                              margin-top: 10px;
                         }
                    }
               }
          }

          ul {
               display: $flex;
               justify-content: flex-start;
               color: white;
               padding-bottom: 10px;

               li{
                    @include liRules();

                    img{
                         height: 25px;
                    }
     
                    span {
                         vertical-align: -webkit-baseline-middle;
                    }
     
                    a{
                         vertical-align: -webkit-baseline-middle;
                         color: white;

                         i{
                              vertical-align: bottom;
                              color: grey;
                         }
                    }
               }
                             
          }

     }

     header {
          background-color: gold;
          background-image: url(img/bg-painter-home.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .jumbotron {
               @include flexColumn();
               align-items: flex-start;
               justify-content: flex-start;
               margin: 0 20%;
               padding: 50px 0;

               img{
                    height: 50px;
                    width: auto;
               }

               p{
                    margin-top: 20px;
                    margin-bottom: 50px;
               }

               h3,a {
                    color: plum;
               }

               button {
                    padding: 10px;
                    margin: 20px 20px 20px 0;
                    font-size: 15px;
               }

               button:first-child {
                    background-color: black;
                    border: 0;
                    color: white;
               }

               button:last-child {
                    background-color: transparent;
                    border: 0;
                    color: white;
                    border: 1px solid black;
                    color: black;
               }



          }
     }

     main {
          background-color: rgb(226, 226, 226);
          padding: 20px 0;

          .first-section {
               @include flexColumn();
               text-align: center;
               padding: $padding;
               

               .images {
                    display: $flex;
                    flex-direction: row;
                    justify-content: space-around;

                    div.square {
                         @include flexColumn();
                         background-color: white;
                    }

                    img {
                         height: 150px;
                         width: auto;
                    }

                    div {
                         text-align: left;
                         padding-bottom: 20px;

                         span:first-child {
                              color: $iColor;
                         }

                         p {
                              color: grey;
                              margin: 5px 0;
                              width: 50%;
                         }    

                         span:first-child, p, a {
                              margin:  10px;
                         }
                    }
               }
          }

          .second-section {
               padding: $padding;
               margin: 50px 0;
               display: $flex;
               flex-direction: row;
               justify-content: flex-start;
               flex-wrap: wrap;

               div {
                    flex-basis: 50%;
                    height: 250px;
                    background-color: white;
                    padding: 40px 20px; 
                    color: white;

                    p {
                         margin: 25px 0;
                    }

                    button {
                         padding: 10px;
                    }
               }

               div:first-child {
                    background-color: rgb(11, 11, 121);
                    color: white;

               }

               div:nth-child(2) {
                    background-image: url(img/wacom-painter.jpg);
                    background-size: cover;
                    position: relative;

                    img {
                         width: 350px;
                         height: auto;
                         position: absolute;
                         bottom: 25px;
                         left: 25px;
                    }
               }

               div:nth-child(3) {
                    background-image: url(img/painter-master.jpg);
                    background-size: cover;
                    background-position: center;
               }

               div:nth-child(4) {
                    background-color: grey;
               }

               div:nth-child(5) {
                    background-color: $iColor;
               }

               div:nth-child(6) {
                    background-image: url(img/business-education.jpg);
                    background-size: cover;
                    background-position: center;
               }
          }

          .third-section {
               padding: $padding;

               div {
                    display: $flex;
                    justify-content: space-around;

                    ul {
                         flex-basis: calc(100% / 4);
                         padding: 0 20px;
                         color: grey;
     
                         li:first-child {
                              margin-bottom: 20px;
                         }
     
                         li {
                              margin-bottom: 10px;
                         }
     
                         a {
                              color: grey;
                         }
                    }
               }

               div:last-child {
                    display: flex;
                    justify-content: flex-end;

                    i {
                         font-size: 30px;
                         margin: 0 5px;
                    }

                    i:first-child {
                         color: red;
                    }

                    i:nth-child(2) {
                         color: rgb(11, 11, 121);
                    }

                    i:nth-child(3) {
                         color: $iColor;
                    }

                    i:nth-child(4) {
                         color: rgb(223, 8, 8);
                    }

                    i:nth-child(5) {
                         color: rgb(182, 7, 7);
                    }

                    i:last-child {
                         color: rgb(49, 49, 161);
                    }
               }

               
          }
         
     }

}